@page
@model SkillUp.Pages.AdminDashBoard.AdminModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/AdminDashBoard.css"> 
</head>
<body>
    <!-- Sidebar -->
    <div class="side-nav">
        <button onclick="UserManagement()" id="userButton">User Management</button>
        <button disabled onclick="Batch Management()" id="batchBtn">Batch Management</button>
        <button disabled onclick="Stream Management()" id="streamBtn">View Stream</button>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h1 id="welcomeMessage">Welcome Admin</h1>
    </div>
    <script src="~/js/AdminDashBoard.js"></script>
</body>
</html>